
/* section{
    position: sticky;
} */
#box
{
    position: sticky;
    top: 20px;
    width: 15rem;
    height: 10rem;
    background-color: lightsalmon;
    border: 10px solid black;
}
p{
    font-size: 1.75rem;
    margin: 1.5rem;
    padding: 1rem;
    border: 2px solid black;

}
#long
{
    padding: 10px;
    background-color: lightpink;
    border: 10px;

}